MONGODB_URI=mongodb://127.0.0.1:27017/distrito-cosmetico
JWT_SECRET=cambie-este-secreto-en-produccion
PORT=3000
CORS_ORIGIN=http://localhost:5173
ADMIN_EMAIL=admin@distritocosmetico.com
ADMIN_PASSWORD=Admin123456
